@source "../node_modules/@my-company/ui-lib";
@import "tailwindcss";
@custom-variant theme-midnight (&:where([data-theme="midnight"] *));
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  background-color: var(--bg-body);
  color: var(--text-body);
}


@theme {
  --color-primary: #7a6fbe;
}


@utility tab-4 {
  tab-size: 4;
}

 /* @variant dark {
    background: black; */
  /* } */

/* .dark {
  @theme {
    --color-bg: black;
    --color-text: white;
  }
} */

/* Dark theme */
[data-theme="dark"] {
  --bg-body: #1f2431;
  --text-body: #ffffff;

  --bg-sidebar: #2a3142;
  --bg-card: #2f3646;
  --bg-topbar: #2a3142;

  --bg-header: #7a6fbe;
  --text-header: #ffffffb3;

  --cards-color:#32394e;
  --cards-text:#adb5bd;
  --cards-text-sec:white;
  --graph-cards: white
}

/* Light theme */
[data-theme="light"] {
  --bg-body: #f5f5f5;
  --text-body: #1f2431;

  --bg-sidebar: #ffffff;
  --bg-card: #ffffff;
  --bg-topbar: #ffffff;

  --bg-header: #ffffff;
  --text-header: #000000;

  --cards-color:white;
  --cards-text:#79829c;
  --cards-text-sec:black;
  --graph-cards: #ffffffb3
}
